This file contains the code for cleaning the rounds2 file of the project.

## Code Style
    - Case: 
        - snake_case for objects
        - camelCase for functions and classes
    - Double quotes first, then single quotes

## Libraries used
    - Pandas
    - Numpy

## Obejctives of Analysis
Identify the most heavily invested main sectors in each of the three countries (for funding type FT and investments range of 5-15 M USD).

Business objective: Identify the best: a. Sectors; b. Countries; c. Investment rounds for Spark Funds.

[This means that we need to focus on just a few variables]

## Metric
Mean amount of money invested in a particular country.

## The Workflow
The workflow for this analysis is rather simple. Focus on answering the questions asked in the checkpoints. Following this flow, the code in this .ipynb is organized according to the checkpoints. There will be a clear heading indicating the starting and ending of each checkpoint and question.

In [1]:
# importing dependencies
# numpy
import numpy as np # version: 1.15.0

# pandas
import pandas as pd # version: 0.23.4

# Checkpoint 1: Data Cleaning
There are five tasks in this checkpoint:
    - Number of unique companies in rounds2.csv
	- Number of unique companies in companies.tsv
	- Key column from the companies dataset that can be used to merge it with rounds data
	- Organizations in companies that are missing in rounds2.
    - Merge the two datasets.

## Importing the data
The first step of the analysis is to import the two main datasets that we will be needing for the analysis: companies and rounds.

In [2]:
# import companies.csv as companies
companies = pd.read_csv("../../Data/companies.tsv", sep = "\t", encoding = "ISO-8859-1") 

# import rounds2.csv as rounds
rounds = pd.read_csv("../../Data/rounds2.csv", sep = ",", encoding = "ISO-8859-1")
# ISO for lack of charset in UTF-8

In [3]:
#information of the companies dataset
print(companies.info()); print("shape of dataset: ", companies.shape); print("variable dtypes:\n", companies.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
permalink        66368 non-null object
name             66367 non-null object
homepage_url     61310 non-null object
category_list    63220 non-null object
status           66368 non-null object
country_code     59410 non-null object
state_code       57821 non-null object
region           58338 non-null object
city             58340 non-null object
founded_at       51147 non-null object
dtypes: object(10)
memory usage: 5.1+ MB
None
shape of dataset:  (66368, 10)
variable dtypes:
 permalink        object
name             object
homepage_url     object
category_list    object
status           object
country_code     object
state_code       object
region           object
city             object
founded_at       object
dtype: object

In [4]:
# information about the rounds dataset
print(rounds.info()); print("shape of dataset: ", rounds.shape); print("variable dtypes:\n", rounds.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB
None
shape of dataset:  (114949, 6)
variable dtypes:
 company_permalink           object
funding_round_permalink     object
funding_round_type          object
funding_round_code          object
funded_at                   object
raised_amount_usd          float64
dtype: object

Since we will be focusing mostly on four variables only, let's remove all the extraneous variables from both the datasets. 
We'll remove from the companies dataset the following variables:
    - state_code
    - region
    - city
    - homepage_url
    - founded_at
    - name

In [5]:
# removing unnecessary columns from companies
companies.drop(["state_code", "region", "city", "homepage_url", "founded_at", "name"], axis = 1, inplace = True)

We'll remove the following from rounds:
    - funded_at
    - funding_round_code
    - funding_round_permalink

In [6]:
# removing unnecessary columns from rounds
rounds.drop(["funded_at", "funding_round_code", "funding_round_permalink"], axis = 1, inplace = True)

## Checkpoint 1 Q1: Number of unique companies in rounds
To do this, we'll use the company_permalink column. However, instead of doing this directly, we'll first convert the company_permalink to lowercase and then determine the number of unique records.

In [7]:
# converting company_permalink to lower case and getting number of unique records.
rounds.company_permalink.str.lower().nunique()

66370

There seem to be 66370 unique companies in the dataset. This means that there are companies that had more than one round of funding. [Import Observation]

## Checpoint 1 Q2: Number of unique companies in companies
This time, we'll use the permalink, which is supposed to be the UID of a company. As with rounds.company_permalink, we'll first convert to lower case and then proceed to count the number of unique records.

In [8]:
companies.permalink.str.lower().nunique()

66368

There seems to be a discrepancy between the number of unique records in companies and rounds. Does this mean that there are at least 2 companies in rounds that are not present in companies?

## Checkpoint 1 Q3: Key column to merge companies and rounds
This is pretty easy. From the data dictionary we know the companies.permalink and rounds.company_permalink are UID's of each company in the dataset. So, we'll use companies.permalink as the key to merge with rounds.

## Checkpoint 1 Q4: Mismatches between rounds and companies
Ok. Now, we're required to find out if there are any records that are unique to rounds only. That is these organizations are not present in companies but are present in rounds.

We can do this by merging on companies.permalink and rounds.company_permalink. But, we'll take a slightly different approach here. 

First off, we'll create two new columns in rounds and companies called company_name and name resp. Then, we'll merge based on those columns and check for missing values. If there are missing values, then there are companies which are unique to rounds only.

# Update
So, I've found out that using a case-unified form of the permalinks produces the same result as using the names. Thus, to avoid creating unnecessary variables and excess storage consumption, I'll hold off on creating those extra columns and use the lower-case permalinks themselves.

In [9]:
# converting rounds.company_permalink and companies.permalink to lower case
companies["permalink"] = companies.permalink.str.lower()

rounds["company_permalink"] = rounds.company_permalink.str.lower()

In [10]:
# checking if there are any unique records.
print(rounds.company_permalink[~rounds.company_permalink.isin(companies.permalink)].dropna());

29597                               /organization/e-cãbica
31863          /organization/energystone-games-çµç³æ¸¸æ
45176                  /organization/huizuche-com-æ ç§ÿè½¦
58473                /organization/magnet-tech-ç£ç³ç§æ
101036    /organization/tipcat-interactive-æ²èÿä¿¡æ¯ç...
109969               /organization/weiche-tech-åè½¦ç§æ
113839                   /organization/zengame-ç¦æ¸¸ç§æ
Name: company_permalink, dtype: object

(Look at this stackoverflow answer: https://stackoverflow.com/questions/28901683/pandas-get-rows-which-are-not-in-other-dataframe for the full explanation of the code used above.)

There seem to be 7 companies that are in rounds but not in companies. So, the answer to the fourth question is yes. There are organizations that are present in rounds but not in companies.

## Checkpoint 1 Q5: Merge the two dataframes
This is the basis of all our analysis. Merging the two DataFrames will give us a single data frame which contains all the data needed. After this step, we can finally start treating the missing values.

So, after some thought it was decided unanimously that the best approach would be to drop all missing values from the raised_amount_usd column. Therefore, that's what I'll do.

In [11]:
# dropping all missing values from the rounds DataFrame.
rounds.dropna(inplace = True)

In [12]:
rounds.shape # new shape of rounds: (94959, 3)

(94959, 3)

Dropping those missing values leaves us with 95K observations. So, we lost about 20K observations. Not a big problem though. The next step is to combine the two datasets.

In [13]:
master = pd.merge(rounds, companies, how = "inner", left_on = "company_permalink", 
                  right_on = "permalink")

So, performing this merge resulted in a DataFrame with 94958 rows and 7 columns.

In [14]:
# checking for missing values
master.isnull().mean().sort_values(ascending = False)

country_code          0.061606
category_list         0.010994
status                0.000000
permalink             0.000000
raised_amount_usd     0.000000
funding_round_type    0.000000
company_permalink     0.000000
dtype: float64

There are two variables with missing values: country_code (an important variable) has 6% values missing and category_list has 1% values missing.

The next thing to do is to check for duplicates. If there are duplicates, just drop them.

In [15]:
# checking for duplicates in the master DataFrame
master.duplicated().sum() # there seem to be 1311 duplicated values.

1311

In [16]:
master.drop_duplicates(keep = "first", inplace = True)

So, dropping duplicates resulted in the loss of about 2K rows. We're now left with about 93K rows. This is about 81% of the initial observations. I don't think that deleting any more values is a good idea. This would result in the loss of more data, bringing the total down even more. 

Still, if we can retain more than 75% of the rows, we will have pretty reliable results.

# Treating the remaining missing values
The remaining missing values are both present in Series of dtype object. This means that we can do something cool. We can treat the missing value itself as a new category. This is sweet. This means that we don't need to lose any more data. So, let's go ahead and do that. What we'll do is replace the NaN's with a new sentinel value that tells us if we know the country_code of an organization or not.

In [17]:
# replacing missing values in country_code with new sentinel value
master["country_code"].fillna("unknown", inplace = True)

In [18]:
# on running the following code, we see that the missing value percentage has gone down
master.isnull().mean().sort_values(ascending = False)

category_list         0.011106
country_code          0.000000
status                0.000000
permalink             0.000000
raised_amount_usd     0.000000
funding_round_type    0.000000
company_permalink     0.000000
dtype: float64

Now, we have about 1% of the total values missing 1% of it's data. 1% of 93647 is about 940. We can go ahead and delete these rows. We'll still be left with 80.5% of the total observations.

In [19]:
master.dropna(inplace = True) # Now that we have this DataFrame, we can finally start with the analysis.

# Checkpoint 2: Funding Type Analysis

In [20]:
# checking the information about the master table after performing all the operations
print(master.info()); print(master.shape)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92607 entries, 0 to 94957
Data columns (total 7 columns):
company_permalink     92607 non-null object
funding_round_type    92607 non-null object
raised_amount_usd     92607 non-null float64
permalink             92607 non-null object
category_list         92607 non-null object
status                92607 non-null object
country_code          92607 non-null object
dtypes: float64(1), object(6)
memory usage: 5.7+ MB
None
(92607, 7)

-  ### Subtask 2.1: Calculate the average investment amount for each of the four funding types (venture, angel, seed, and private equity)

In [60]:
master.groupby("funding_round_type").raised_amount_usd.mean().sort_values()

funding_round_type
non_equity_assistance      0.416599
equity_crowdfunding        0.515254
seed                       0.721313
angel                      0.961039
product_crowdfunding       1.254401
convertible_note           1.476179
grant                      4.351144
venture                   11.682595
debt_financing            17.088302
undisclosed               19.555015
private_equity            73.350449
secondary_market          82.395824
post_ipo_equity           82.559698
post_ipo_debt            168.704572
Name: raised_amount_usd, dtype: float64

### Table 2.1: Average Values of Investments for Each of these Funding Types 
 Average funding amount of venture type:	                              
 Average funding amount of angel type:	 
 Average funding amount of seed type:	 
 Average funding amount of private equity type:	 

Considering that Spark Funds wants to invest between 5 to 15 million USD per investment round, which investment type is the most suitable for it?

# Checkpoint 3: Country Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `raised_amount_usd` from `$` to `million $`.

In [61]:
# code for unit conversion here
master['raised_amount_usd'] = master['raised_amount_usd'].apply(lambda x: x / 1000000)
master #verify the unit conversion

,company_permalink,funding_round_type,raised_amount_usd,permalink,category_list,status,country_code
0,/organization/-fame,venture,1.000000e-05,/organization/-fame,Media,operating,IND
1,/organization/-qounter,seed,7.000000e-07,/organization/-qounter,Application Platforms|Real Time|Social Network...,operating,USA
2,/organization/-the-one-of-them-inc-,venture,3.406878e-06,/organization/-the-one-of-them-inc-,Apps|Games|Mobile,operating,unknown
3,/organization/0-6-com,venture,2.000000e-06,/organization/0-6-com,Curated Web,operating,CHN
4,/organization/01games-technology,undisclosed,4.125000e-08,/organization/01games-technology,Games,operating,HKG
5,/organization/0ndine-biomedical-inc,seed,4.336000e-08,/organization/0ndine-biomedical-inc,Biotechnology,operating,CAN
6,/organization/0ndine-biomedical-inc,venture,7.194910e-07,/organization/0ndine-biomedical-inc,Biotechnology,operating,CAN
7,/organization/0xdata,seed,3.000000e-06,/organization/0xdata,Analytics,operating,USA
8,/organization/0xdata,venture,2.000000e-05,/organization/0xdata,Analytics,operating,USA
9,/organization/0xdata,venture,1.700000e-06,/organization/0xdata,Analytics,operating,USA
10,/organization/0xdata,venture,8.900000e-06,/organization/0xdata,Analytics,operating,USA
11,/organization/1,seed,1.500000e-07,/organization/1,Mobile,operating,USA
12,/organization/1,seed,1.000050e-06,/organization/1,Mobile,operating,USA
13,/organization/1-2-3-listo,seed,4.000000e-08,/organization/1-2-3-listo,E-Commerce,operating,CHL
14,/organization/1-800-doctors,convertible_note,1.750000e-06,/organization/1-800-doctors,Health and Wellness,operating,USA
15,/organization/1-800-publicrelations-inc-,private_equity,6.000000e-06,/organization/1-800-publicrelations-inc-,Internet Marketing|Media|Public Relations,operating,USA
16,/organization/1-mainstream,venture,5.000000e-06,/organization/1-mainstream,Apps|Cable|Distribution|Software,acquired,USA
17,/organization/1-of-99,convertible_note,1.000000e-07,/organization/1-of-99,Entertainment|Games,operating,USA
18,/organization/10-20-media,debt_financing,8.000000e-07,/organization/10-20-media,E-Commerce,operating,USA
19,/organization/10-20-media,debt_financing,5.000000e-07,/organization/10-20-media,E-Commerce,operating,USA
21,/organization/10-20-media,debt_financing,2.500000e-07,/organization/10-20-media,E-Commerce,operating,USA
22,/organization/10-minutes-with,venture,4.000000e-06,/organization/10-minutes-with,Education,operating,GBR
23,/organization/10-minutes-with,seed,4.000000e-07,/organization/10-minutes-with,Education,operating,GBR
24,/organization/1000-corks,seed,4.000000e-08,/organization/1000-corks,Search,operating,USA
25,/organization/1000-markets,seed,5.000000e-07,/organization/1000-markets,Art|E-Commerce|Marketplaces,acquired,USA
26,/organization/1000chi,angel,4.392386e-05,/organization/1000chi,Mobile,operating,unknown
27,/organization/1000memories,venture,2.520000e-06,/organization/1000memories,Curated Web,acquired,USA
28,/organization/1000memories,seed,1.500000e-08,/organization/1000memories,Curated Web,acquired,USA
29,/organization/1000museums-com,debt_financing,6.478790e-07,/organization/1000museums-com,Curated Web,operating,USA
30,/organization/1000museums-com,debt_financing,5.000000e-07,/organization/1000museums-com,Curated Web,operating,USA
...,...,...,...,...,...,...,...
94928,/organization/zynstra,venture,3.800000e-06,/organization/zynstra,Software,operating,GBR
94929,/organization/zynstra,seed,2.250000e-07,/organization/zynstra,Software,operating,GBR
94930,/organization/zynstra,angel,2.325000e-06,/organization/zynstra,Software,operating,GBR
94931,/organization/zyomyx-inc,venture,1.200000e-05,/organization/zyomyx-inc,Biotechnology,operating,USA
94932,/organization/zyomyx-inc,grant,7.500000e-06,/organization/zyomyx-inc,Biotechnology,operating,USA
94933,/organization/zyomyx-inc,venture,1.422000e-05,/organization/zyomyx-inc,Biotechnology,operating,USA
94934,/organization/zyomyx-inc,venture,5.550160e-07,/organization/zyomyx-inc,Biotechnology,operating,USA
94935,/organization/zype,seed,1.700000e-06,/organization/zype,Cloud Computing|Mobile Advertising|Video|Video...,operating,USA
94936,/organization/zype,seed,1.600000e-06,/organization/zype,Cloud Computing|Mobile Advertising|Video|Video...,operating,USA
94937,/organization/zypsee,seed,2.150000e-06,/organization/zypsee,Public Transportation,operating,USA
94938,/organization/zyraz-technology,private_equity,2.096700e-08,/organization/zyraz-technology,Biotechnology,closed,MYS
94939,/organization/zyraz-technology,angel,2.007363e-06,/organization/zyraz-technology,Biotechnology,closed,MYS
94940,/organization/zyraz-technology,grant,5.400000e-06,/organization/zyraz-technology,Biotechnology,closed,MYS
94941,/organization/zyraz-technology,venture,7.991547e-06,/organization/zyraz-technology,Biotechnology,closed,MYS
94942,/organization/zyrra,seed,4.450000e-07,/organization/zyrra,E-Commerce,operating,USA
94943,/organization/zyrra,seed,5.000000e-08,/organization/zyrra,E-Commerce,operating,USA
94944,/organization/zyrra,venture,1.405000e-07,/organization/zyrra,E-Commerce,operating,USA
94945,/organization/zyrra,angel,8.750000e-07,/organization/zyrra,E-Commerce,operating,USA
94946,/organization/zystor,venture,8.500000e-06,/organization/zystor,Biotechnology,acquired,USA
94947,/organization/zytoprotec,venture,2.686600e-06,/organization/zytoprotec,Biotechnology,operating,AUT
94948,/organization/zzish,grant,4.000000e-07,/organization/zzish,Analytics|Android|Developer APIs|Education|Gam...,operating,GBR
94949,/organization/zzish,angel,4.000000e-07,/organization/zzish,Analytics|Android|Developer APIs|Education|Gam...,operating,GBR
94950,/organization/zzish,seed,3.200000e-07,/organization/zzish,Analytics|Android|Developer APIs|Education|Gam...,operating,GBR
94951,/organization/zznode-science-and-technology-co...,venture,1.587301e-06,/organization/zznode-science-and-technology-co...,Enterprise Software,operating,CHN
94952,/organization/zzzzapp-com,seed,7.000000e-09,/organization/zzzzapp-com,Advertising|Mobile|Web Development|Wireless,operating,HRV
94953,/organization/zzzzapp-com,seed,3.314900e-08,/organization/zzzzapp-com,Advertising|Mobile|Web Development|Wireless,operating,HRV
94954,/organization/zzzzapp-com,convertible_note,4.131300e-08,/organization/zzzzapp-com,Advertising|Mobile|Web Development|Wireless,operating,HRV
94955,/organization/zzzzapp-com,seed,3.284200e-08,/organization/zzzzapp-com,Advertising|Mobile|Web Development|Wireless,operating,HRV
94956,/organization/ãasys-2,seed,1.819200e-08,/organization/ãasys-2,Consumer Electronics|Internet of Things|Teleco...,operating,USA
94957,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,grant,1.485100e-08,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,Consumer Goods|E-Commerce|Internet,operating,unknown

 -  ### Subtask 3.2: Find the top nine countries with highest total funding for the given investment = "venture"

    -- Spark Funds wants to see the top nine countries which have received the highest total funding (across ALL sectors for the chosen investment type)

    -- For the chosen investment type, make a data frame named top9 with the top nine countries (based on the total investment amount each country has received)

In [62]:
#groupby command here to find the country-wise total funding for the investment type 
master_grpby_country= master.loc[master.funding_round_type == "venture", :].groupby(['country_code'])

In [63]:
#code to find the top nine countries with highest total funding
top9 = master_grpby_country['raised_amount_usd'].sum().sort_values(ascending=False)[:9]
top9

country_code
USA        0.411103
CHN        0.038362
unknown    0.021991
GBR        0.019932
IND        0.014134
CAN        0.009364
FRA        0.007223
ISR        0.006699
DEU        0.006287
Name: raised_amount_usd, dtype: float64

-  ### Subtask 3.3: Identify the top three English-speaking countries in the data frame top9.

### Table 3.1: Analysing the Top 3 English-Speaking Countries
Based on the list of countries where English is an official language - the top three English-speaking countries are:

 1. Top English-speaking country 	 USA (United States)             
 2. Second English-speaking country	 GBR (United Kingdom)
 3. Third English-speaking country	 IND (India)

# Checkpoint 4: Sector Analysis 1
So, let's start off with the sector analysis. Here's what needs to be done in this part of the analysis.
    - Extract the primary sector of each category list from the category_list column.
    - Use the mapping file 'mapping.csv' to map each primary sector to one of the eight main sectors (Note that ‘Others’ is also considered one of the main sectors)

The primary sector is the string that appears before the first pipe "|" in the category_list variable. So, let's get on with it.

## Extracting the primary sector from category_list
First off, let's start by getting a good look at the dataframe. After that, we'll create a new variable called primary_sector to store the primary sector of each organization in the dataframe.

In [13]:
print(master.info()); print(master.shape) # cool

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92607 entries, 0 to 94957
Data columns (total 7 columns):
company_permalink     92607 non-null object
funding_round_type    92607 non-null object
raised_amount_usd     92607 non-null float64
permalink             92607 non-null object
category_list         92607 non-null object
status                92607 non-null object
country_code          92607 non-null object
dtypes: float64(1), object(6)
memory usage: 5.7+ MB
None
(92607, 7)

In [14]:
# creating the primary sector
master["primary_sector"] = master.category_list.str.split("|").str.get(0)

Now that we have the primary sector, the next to-do item on our list is to map each of those primary sectors to a main sector. For that, we need the mapping data. We'll load that up and proceed to map the primary sectors to a main sector.

In [15]:
# loading mapping.csv as mapping
mapping = pd.read_csv("../../Data/mapping.csv", sep = ",", encoding = "ISO-8859-1")

In [17]:
# some basic information about mapping
print(mapping.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 687 entries, 1 to 687
Data columns (total 9 columns):
category_list                              687 non-null object
Automotive & Sports                        687 non-null int64
Cleantech / Semiconductors                 687 non-null int64
Entertainment                              687 non-null int64
Health                                     687 non-null int64
Manufacturing                              687 non-null int64
News, Search and Messaging                 687 non-null int64
Others                                     687 non-null int64
Social, Finance, Analytics, Advertising    687 non-null int64
dtypes: int64(8), object(1)
memory usage: 53.7+ KB
None

In [17]:
mapping.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1

OK. So, this mapping file has turned out to be a one-to-one sparse matrix that maps each primary sector to one of the eight main sectors. What I have to do now is get a main sector for each primary sector. I'm not aware of any native pandas methods that enable me to do this. My first impulse is to write a function which will allow me to do just this. Then there's relational algebra which can produce results really quickly. I'll try out my function first.

As it turns out, this operation is what Hadley Wickham calls gathering the columns. (read more about it here: https://r4ds.had.co.nz/tidy-data.html).

The main task here is this: convert the wide (and sparse) representation of the mapping into a long representation. This means bringing in all the colums under one roof. It's way easier to demonstrate than to explain. 

Luckily, pandas does provide a function to do this: pd.melt() (just like reshape2::melt() from R). Check the docs to understand how awesome this function is. (For a tutorial on pd.melt() go here: https://www.ibm.com/developerworks/community/blogs/jfp/entry/Tidy_Data_In_Python?lang=en)

In [16]:
# dropping the Blanks column since this just serves as a flag to identify NaN's
mapping.drop("Blanks", axis = 1, inplace = True)

# dropping the single NaN at the head of the dataset
mapping.dropna(axis = 0, inplace = True)

In [19]:
# gathering all the columns under one roof
mapping_long = pd.melt(mapping, id_vars = ["category_list"], var_name = "main_sector", value_name = "yes_no")

# tidying mapping_long to produce the final version of the mapping dataset
mapping_tidy = mapping_long.loc[mapping_long.yes_no == 1, ["category_list", "main_sector"]]

To finish up, let's take one look at the mapping_tidy dataset just to make sure everything is alright

In [23]:
print(mapping_tidy.info());
print(mapping_tidy.isnull().mean()) # no null values. We can proceed to merge the two datasets!

<class 'pandas.core.frame.DataFrame'>
Int64Index: 687 entries, 7 to 5471
Data columns (total 2 columns):
category_list    687 non-null object
main_sector      687 non-null object
dtypes: object(2)
memory usage: 16.1+ KB
None
category_list    0.0
main_sector      0.0
dtype: float64

Now, all that's left out is to merge the two datasets and proceed to perform a series of checks. Here are the final steps to finish up checkpoint 4.
1. Merge master and mapping_tidy
2. Check for: a. Missing values; b. Duplicates
3. Treat missing values and drop duplicates`

# Issue with merging
Now, while merging the two datasets, master and mapped_tidy, one of two types of joins can be used. Either the inner or outer. There are the left and right joins, but we'll leave them out of the picture for now. 

If the inner join is used during the merge, there is a loss data. There are some sub-sectors that are present in master.primary_sector but aren't present in mapped.category_list. 

If the outer join is used during the merge, NULL values are inserted into the dataset. Again, dropping this is just equivalent to using the inner join. One other way to treat them is to manually add them to one of the 8 main sectors. 

What do you guys think?

In [24]:
# primary sectors present in master.primary_sector but not present in mapping_tidy.category_list
master.primary_sector[~master.primary_sector.isin(mapping_tidy.category_list)].dropna().unique()

array(['Analytics', 'Finance', 'Financial Services', 'Nanotechnology',
       'Finance Technology', 'Business Analytics', 'Contact Management',
       'Career Management', 'Big Data Analytics', 'Self Development',
       'Cloud Management', 'Digital Signage', 'Cause Marketing',
       'Personalization', 'Innovation Management', 'Risk Management',
       'Document Management', 'Journalism', 'Energy Management',
       'Waste Management', 'Fleet Management', 'Alternative Medicine',
       'Real Estate Investors', 'Investment Management',
       'English-Speaking', 'Intellectual Asset Management',
       'Educational Games', 'Identity Management', 'Lead Management',
       'Property Management', 'IT Management', 'Event Management',
       'Navigation', 'Toys', 'Professional Services', 'Generation Y-Z',
       'Cannabis', 'Enterprise Hardware', 'Social Media Advertising',
       'Personal Finance', 'Darknet', 'Knowledge Management',
       'China Internet', 'Medical Professionals',
       'Digital Rights Management', 'Natural Gas Uses',
       'Predictive Analytics', 'Natural Language Processing',
       'Internet Technology', 'Nightlife', 'Adaptive Equipment',
       'Project Management', 'Governance', 'Financial Exchanges',
       'Professional Networking', 'Personal Branding',
       'Supply Chain Management', 'Internet TV', 'Skill Gaming', 'Racing',
       'Specialty Retail', 'Natural Resources', 'Swimming', 'Registrars',
       'Personal Health', 'Golf Equipment',
       'Biotechnology and Semiconductor', 'Vacation Rentals',
       'Google Glass', 'Rapidly Expanding', 'Group Email',
       'Mobile Analytics', 'Social Media Management', 'Kinect', 'Spas',
       'Product Search', 'Sex Industry', 'Psychology', 'Promotional',
       'Testing', 'GreenTech', 'Retirement', 'Subscription Businesses',
       'Personal Data', 'Lingerie', 'Mobile Emergency&Health',
       'Sponsorship', 'Deep Information Technology', 'Task Management'],
      dtype=object)

From the result of the code above, it's clear that there are 89 sub-sectors that are not included in the mapping dataset. So, if we're manually imputing the values, it would mean the addition of utmost, 89 lines of code. This would preserve the data, but decrease the readability of the file quite a bit. Since we're graded on code readability quite a bit, what do you think we should do?

# Checkpoint 5: Sector Analysis 2