This file contains the code for cleaning the rounds2 file of the project.

## Code Style
    - Case: 
        - snake_case for objects
        - camelCase for functions and classes
    - Double quotes first, then single quotes

## Libraries used
    - Pandas
    - Numpy

## The Workflow
    - Check parsing of variables
    - Treat missing values

In [1]:
# import the required libraries
import numpy as np # req for pandas. version 1.15.0
import pandas as pd # for data wrangling. version 0.23.4

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
# read in data to rounds data frame
rounds = pd.read_csv("../../Data/rounds2.csv", sep = ",", encoding = "ISO-8859-1")
# using ISO-8859-1 encoding as DF contains some unique characters not present in UTF-8

In [3]:
print(rounds.info()); print(rounds.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB
None
company_permalink           object
funding_round_permalink     object
funding_round_type          object
funding_round_code          object
funded_at                   object
raised_amount_usd          float64
dtype: object

In [4]:
rounds.columns

Index(['company_permalink', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd'],
      dtype='object')

## Some initial information about the data

The DF contains 6 variables and about a 114500 rows. Out of these rows, only one is numeric (64 bit floating point data type). The other 5 are objects (mainly characters).

In [5]:
rounds.head(10)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
5,/ORGANIZATION/004-TECHNOLOGIES,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN
6,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,01-07-2014,41250.0
7,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,NaN,11-09-2009,43360.0
8,/organization/0ndine-biomedical-inc,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,NaN,21-12-2009,719491.0
9,/ORGANIZATION/0XDATA,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,NaN,22-05-2013,3000000.0

In [6]:
# statistics about raised_amount_usd, the only numeric var
rounds.raised_amount_usd.describe()

count    9.495900e+04
mean     1.042687e+07
std      1.148212e+08
min      0.000000e+00
25%      3.225000e+05
50%      1.680511e+06
75%      7.000000e+06
max      2.127194e+10
Name: raised_amount_usd, dtype: float64

In [7]:
# number of unique values in the other 5 variables
rounds.iloc[:, :].apply(lambda x: print(len(x.unique())))

90247
114949
14
9
5033
22096

company_permalink          None
funding_round_permalink    None
funding_round_type         None
funding_round_code         None
funded_at                  None
raised_amount_usd          None
dtype: object

In [8]:
rounds.iloc[:, :].apply(lambda x: print(x.unique))

<bound method Series.unique of 0                                       /organization/-fame
1                                    /ORGANIZATION/-QOUNTER
2                                    /organization/-qounter
3                       /ORGANIZATION/-THE-ONE-OF-THEM-INC-
4                                     /organization/0-6-com
5                            /ORGANIZATION/004-TECHNOLOGIES
6                          /organization/01games-technology
7                       /ORGANIZATION/0NDINE-BIOMEDICAL-INC
8                       /organization/0ndine-biomedical-inc
9                                      /ORGANIZATION/0XDATA
10                                     /organization/0xdata
11                                     /ORGANIZATION/0XDATA
12                                     /organization/0xdata
13                                          /ORGANIZATION/1
14                                          /organization/1
15                                          /ORGANIZATION/1
16                                /organization/1-2-3-listo
17                                    /ORGANIZATION/1-4-ALL
18                           /organization/1-618-technology
19                              /ORGANIZATION/1-800-DENTIST
20                              /organization/1-800-doctors
21                 /ORGANIZATION/1-800-PUBLICRELATIONS-INC-
22                               /organization/1-mainstream
23                                    /ORGANIZATION/1-OF-99
24                                /organization/10-20-media
25                                /ORGANIZATION/10-20-MEDIA
26                                /organization/10-20-media
27                                /ORGANIZATION/10-20-MEDIA
28                            /organization/10-minutes-with
29                            /ORGANIZATION/10-MINUTES-WITH
                                ...
114919                                /ORGANIZATION/ZYNSTRA
114920                             /organization/zyomyx-inc
114921                             /ORGANIZATION/ZYOMYX-INC
114922                             /organization/zyomyx-inc
114923                             /ORGANIZATION/ZYOMYX-INC
114924                                   /organization/zype
114925                                   /ORGANIZATION/ZYPE
114926                                 /organization/zypsee
114927                                 /ORGANIZATION/ZYPSEE
114928                       /organization/zyraz-technology
114929                       /ORGANIZATION/ZYRAZ-TECHNOLOGY
114930                       /organization/zyraz-technology
114931                       /ORGANIZATION/ZYRAZ-TECHNOLOGY
114932                                  /organization/zyrra
114933                                  /ORGANIZATION/ZYRRA
114934                                  /organization/zyrra
114935                                  /ORGANIZATION/ZYRRA
114936                                 /organization/zystor
114937                             /ORGANIZATION/ZYTOPROTEC
114938                                  /organization/zzish
114939                                  /ORGANIZATION/ZZISH
114940                                  /organization/zzish
114941    /ORGANIZATION/ZZNODE-SCIENCE-AND-TECHNOLOGY-CO...
114942                            /organization/zzzzapp-com
114943                            /ORGANIZATION/ZZZZAPP-COM
114944                            /organization/zzzzapp-com
114945                            /ORGANIZATION/ZZZZAPP-COM
114946                                 /organization/ãeron
114947                               /ORGANIZATION/ÃASYS-2
114948    /organization/ä°novatiff-reklam-ve-tanä±tä±m-h...
Name: company_permalink, Length: 114949, dtype: object>
<bound method Series.unique of 0         /funding-round/9a01d05418af9f794eebff7ace91f638
1         /funding-round/22dacff496eb7acb2b901dec1dfe5633
2         /funding-round/b44fbb94153f6cdef13083530bb48030
3         /funding-round/650b8f704416801069bb178a1418776b
4         /funding-round/5727accaeaa57461bd22a9bdd945382d
5         /funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830
6         /funding-round/7d53696f2b4f607a2f2a8cbb83d01839
7         /funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d
8         /funding-round/954b9499724b946ad8c396a57a5f3b72
9         /funding-round/383a9bd2c04f7038bb543ccef5ba3eae
10        /funding-round/3bb2ee4a2d89251a10aaa735b1180e44
11        /funding-round/ae2a174c06517c2394aed45006322a7e
12        /funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e
13        /funding-round/03b975068632eba5bfdb937ec8c07a68
14        /funding-round/5de6d8828aef7d925d97918d15727670
15        /funding-round/e82464f22241715dd1a6c77241055ed1
16        /funding-round/6de4609e894495105bc791ed64361288
17        /funding-round/e97a192e13ea0ee3c4f71136b4f3ec16
18        /funding-round/83b8f4c7d37ecef5e001a5e953bf461a
19        /funding-round/5274aacc211163fc7c86539ce94bbacc
20        /funding-round/9eb8c7790a0c200d79e75785d1c4aa12
21        /funding-round/11c228f58831bc7ed337ef69ecc560c2
22        /funding-round/b952cbaf401f310927430c97b68162ea
23        /funding-round/b5c811f561cfb5701cd5b1762120bbc3
24        /funding-round/436874dc54b54460f99f44c06e50990a
25        /funding-round/8025ee9c11a586eac4a234ddec7beb30
26        /funding-round/a884bf8326b9fd59789c0f74a28dbc3b
27        /funding-round/d205f5416ce55e126beda3ed2bf2c2cd
28        /funding-round/0faccbbcc5818dc5326469f13f5a8ac8
29        /funding-round/f245a74b4c54610ae843e17bdf4d1113
                               ...
114919    /funding-round/dee233b3434185c14b3352034f72d798
114920    /funding-round/4191cb5258d3863b0212d1083881da64
114921    /funding-round/85443f5438bfd50104b9591eabc95c94
114922    /funding-round/b4fce7f8a13267353d57db09099800e8
114923    /funding-round/ea5b21da6cf999ff4d5667431fe318d7
114924    /funding-round/24e8134882bf6c4dcc385abba0acd5d9
114925    /funding-round/c9f5097b3617c7539aa47c8b448163be
114926    /funding-round/472c6f7940522552fcca465b8cd3deef
114927    /funding-round/c67e22c5448435adaf5a2d101e449dde
114928    /funding-round/3c3ae0f177e01a04deea811e1828be35
114929    /funding-round/55f33b179dd6f4516315348c1e8350c6
114930    /funding-round/c05aab2155e390066d51c6852ff61464
114931    /funding-round/e949f077c943db197f20e43c2eb8d0e6
114932    /funding-round/2a13fa52848ace2760b224a350a76b40
114933    /funding-round/39baf35e59eb3efc5409cd4c5eaa50e1
114934    /funding-round/7a0fa791c96c9c447ee54662395beab9
114935    /funding-round/cc8cd96a500332d5b4f4bcbddb306099
114936    /funding-round/7ea37c0ff4132b084832039a9380d34e
114937    /funding-round/0c43e717298296d2fb334fb236300f6e
114938    /funding-round/34b560f672bebeb339a5efa3b27eae5d
114939    /funding-round/4c82e18a8e3eab2647719d0fc27ead5f
114940    /funding-round/73721fffc980d228f051e87422aa8732
114941    /funding-round/171693e1e07e0230defd8fddb6de4515
114942    /funding-round/22ef2fafb4d20ac3aa4b86143dbf6c8e
114943    /funding-round/6ba41360588bc6e3f77e9b50a0ebfafa
114944    /funding-round/8f6d25b8ee4199e586484d817bceda05
114945    /funding-round/ff1aa06ed5da186c84f101549035d4ae
114946    /funding-round/59f4dce44723b794f21ded3daed6e4fe
114947    /funding-round/35f09d0794651719b02bbfd859ba9ff5
114948    /funding-round/af942869878d2cd788ef5189b435ebc4
Name: funding_round_permalink, Length: 114949, dtype: object>
<bound method Series.unique of 0                     venture
1                     venture
2                        seed
3                     venture
4                     venture
5                     venture
6                 undisclosed
7                        seed
8                     venture
9                        seed
10                    venture
11                    venture
12                    venture
13                       seed
14                undisclosed
15                       seed
16                       seed
17        equity_crowdfunding
18        equity_crowdfunding
19                undisclosed
20           convertible_note
21             private_equity
22                    venture
23           convertible_note
24             debt_financing
25             debt_financing
26             debt_financing
27             debt_financing
28                    venture
29                       seed
                 ...
114919                  angel
114920                venture
114921                  grant
114922                venture
114923                venture
114924                   seed
114925                   seed
114926                   seed
114927                   seed
114928         private_equity
114929                  angel
114930                  grant
114931                venture
114932                   seed
114933                   seed
114934                venture
114935                  angel
114936                venture
114937                venture
114938                  grant
114939                  angel
114940                   seed
114941                venture
114942                   seed
114943                   seed
114944       convertible_note
114945                   seed
114946                venture
114947                   seed
114948                  grant
Name: funding_round_type, Length: 114949, dtype: object>
<bound method Series.unique of 0           B
1           A
2         NaN
3           B
4           A
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10          B
11        NaN
12          A
13        NaN
14        NaN
15        NaN
16        NaN
17        NaN
18        NaN
19        NaN
20        NaN
21        NaN
22        NaN
23        NaN
24        NaN
25        NaN
26        NaN
27        NaN
28          A
29        NaN
         ...
114919    NaN
114920      B
114921    NaN
114922    NaN
114923    NaN
114924    NaN
114925    NaN
114926    NaN
114927    NaN
114928    NaN
114929    NaN
114930    NaN
114931      A
114932    NaN
114933    NaN
114934    NaN
114935    NaN
114936      A
114937      A
114938    NaN
114939    NaN
114940    NaN
114941      A
114942    NaN
114943    NaN
114944    NaN
114945    NaN
114946      A
114947    NaN
114948    NaN
Name: funding_round_code, Length: 114949, dtype: object>
<bound method Series.unique of 0         05-01-2015
1         14-10-2014
2         01-03-2014
3         30-01-2014
4         19-03-2008
5         24-07-2014
6         01-07-2014
7         11-09-2009
8         21-12-2009
9         22-05-2013
10        09-11-2015
11        03-01-2013
12        19-07-2014
13        05-02-2014
14        05-02-2013
15        20-07-2011
16        18-02-2013
17        21-04-2013
18        22-01-2014
19        19-08-2010
20        02-03-2011
21        01-02-2015
22        17-03-2015
23        13-12-2014
24        11-01-2011
25        18-06-2009
26        28-12-2011
27        30-03-2010
28        09-10-2014
29        01-01-2013
             ...
114919    18-09-2012
114920    30-06-2013
114921    26-03-2014
114922    11-07-2013
114923    29-01-2010
114924    01-04-2015
114925    27-10-2015
114926    25-09-2013
114927    26-07-2013
114928    15-02-2013
114929    01-01-2008
114930    11-09-2009
114931    09-10-2009
114932    15-11-2010
114933    21-10-2010
114934    18-10-2012
114935    15-12-2010
114936    16-12-2004
114937    29-01-2013
114938    25-02-2015
114939    31-10-2014
114940    24-03-2014
114941    01-04-2012
114942    01-11-2011
114943    01-08-2013
114944    01-03-2014
114945    01-05-2013
114946    01-08-2014
114947    01-01-2015
114948    01-10-2013
Name: funded_at, Length: 114949, dtype: object>
<bound method Series.unique of 0               1e+07
1                 NaN
2              700000
3         3.40688e+06
4               2e+06
5                 NaN
6               41250
7               43360
8              719491
9               3e+06
10              2e+07
11            1.7e+06
12            8.9e+06
13             150000
14                NaN
15        1.00005e+06
16              40000
17                NaN
18                NaN
19                NaN
20           1.75e+06
21              6e+06
22              5e+06
23             100000
24             800000
25             500000
26             500000
27             250000
28              4e+06
29             400000
             ...
114919      2.325e+06
114920        1.2e+07
114921        7.5e+06
114922      1.422e+07
114923         555016
114924        1.7e+06
114925        1.6e+06
114926       2.15e+06
114927            NaN
114928          20967
114929    2.00736e+06
114930        5.4e+06
114931    7.99155e+06
114932         445000
114933          50000
114934         140500
114935         875000
114936        8.5e+06
114937     2.6866e+06
114938         400000
114939         400000
114940         320000
114941     1.5873e+06
114942           7000
114943          33149
114944          41313
114945          32842
114946            NaN
114947          18192
114948          14851
Name: raised_amount_usd, Length: 114949, dtype: object>

company_permalink          None
funding_round_permalink    None
funding_round_type         None
funding_round_code         None
funded_at                  None
raised_amount_usd          None
dtype: object

We can see that funding_round_type contains about 14 unique values, funding_round_code contains 8 unique values and some missing values, while funded_at is a date. Next, we'll move on to the missing values.

In [9]:
# column wise percentage of missing values sorted in descending order
rounds.isnull().mean().sort_values(ascending = False)

funding_round_code         0.729097
raised_amount_usd          0.173903
funded_at                  0.000000
funding_round_type         0.000000
funding_round_permalink    0.000000
company_permalink          0.000000
dtype: float64

Funding round code contains the most number of missing values, while raised_amount_usd contains quite a few missing values.

# Checkpoints
## Checkpoint 1: Data Cleaning
## Checkpoint 2: Funding Type Analysis
## Checkpoint 3: Country Analysis
## Checkpoint 4: Sector Analysis 1
## Checkpoint 5: Sector Analysis 2

## Checkpiont 1: Data Cleaning
In this checkpoint, we're supposed to answer 5 questions and 3 of them pertian to the rounds data frame. They are:
    - How many unique companies are in rounds2?
    - Are there any companies in rounds2 that are not present in companies?
    - Merge the companies and rounds2 DF's so that all the variables in companies is added to rounds2.

Before this can be done however, the data frame needs to be cleaned. This means removing missing values, which need to removed with future checkpoints in mind.

For most of the checkpoints, funding_round_type, the variable with the highest percentage of missing values is not required. So, this variable can be simply ignored for the rest of the analysis.

The first question actually deals with a simple count. The question asks the number of unique companies present in the dataset. This can be determined using the permalink which acts an id for each of the organizations.

In [10]:
# number of unique companies in the dataset
len(rounds.company_permalink.unique())

90247

There are 90,247 unique companies in this dataset. The dataset contains nearly a 115K observations. This means that some companies have had more than 1 shot at getting investment.

To answer the second question, we need the companies dataset. Let's not get into the details now.

The third and probably the most important variable for this analysis is the amount of money raised. Here's the description of this variable.

In [11]:
rounds.raised_amount_usd.describe()

count    9.495900e+04
mean     1.042687e+07
std      1.148212e+08
min      0.000000e+00
25%      3.225000e+05
50%      1.680511e+06
75%      7.000000e+06
max      2.127194e+10
Name: raised_amount_usd, dtype: float64

To figure out the imputation method, look at the difference between mean - min and mean - max

In [53]:
raised_amt_median = rounds.raised_amount_usd.median()
raised_amt_min = rounds.raised_amount_usd.min()
raised_amt_max = rounds.raised_amount_usd.max()
raised_amt_mean = rounds.raised_amount_usd.mean()

In [55]:
print((raised_amt_max - raised_amt_mean) / (raised_amt_mean - raised_amt_min));
print((raised_amt_max - raised_amt_median) / (raised_amt_median - raised_amt_min))

2039.1075641766872
12657.015924918076

The mean doesn't seem to be exactly at the center of the distribution of raised_amount_usd. The difference between the max and the mean seems to be greater than the difference between the mean and min by a factor of 2000!.
It's even worse with the median. We're better off imputing using the mean!